.contact-container {
  /* background-color: black;
  color: white; */
}

.title {
    display: flex;
}

.logo-container {
    float: right;
    margin: 0 auto;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid;
}
