.ServicePage {
    background-image: url('/images/background2.jpeg');
    height: 600px;
    position: relative;
}

.IntroBox {
    margin: 1rem auto;
    height: 200px;
    width: 350px;
}

.back-button {
    color: black;
    position: absolute;
    bottom: 0;
}

.top-page {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}